#chart {
width: 1030px;
height: 815px;

margin: 3px auto;
position: relative;
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.x.axis path {
  display: none;
}

#body {
	margin-left: 25px;

}

.btn-group {

	margin-left: 800px;
}

#h1 {
	font-family: "Open Sans", Helvetica, Arial, sans-serif; 
	f
}

#h3 {
	font-weight: normal;
	font-family: "Open Sans", Helvetica, Arial, sans-serif; 
}


text {
	pointer-events: none;

}

.grandparent text { /* header text */
	font-size: small;
	font-family: "Open Sans", Helvetica, Arial, sans-serif; 
}

rect {
fill: none;
stroke: #fff;
}

rect.parent,
	.grandparent rect {
		stroke-width: 2px;
	}

.grandparent rect {
fill: #fff;
}

.children rect.parent,
	.grandparent rect {
cursor: pointer;
	}

rect.parent {
	pointer-events: all; 
}

.children:hover rect.child,
	.grandparent:hover rect {
fill: #aaa;
	}

.textdiv { /* text in the boxes */
	font-size: x-small;
	padding: 3px;
	font-family: "Open Sans", Helvetica, Arial, sans-serif; 
}